@import url('./normalize.scss');
@import url('./reboot.scss');

//Variables

$blk: #000;
$blue: #005BFE;
$light: #ced8e7;
$gray: #797979;
$dark-blue: #0047C6;
$red: #EA3D2F;
$light-red: #f81155;
$main-font: 'Arial';
$box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);


body {
  font-family: $main-font;
  background-color: #f6f7f9;
  font-style: normal;
}

//Global
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1130px
}

.btn {
  border: 0;
  cursor: pointer;

  &_red {
    padding: 10px 35px 10px 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    border-radius: 6px;
    background-color: $light-red;
    background-image: url(../assets/icons/plus.svg);
    background-repeat: no-repeat;
    background-position: 150px center;
  }

  &_red:hover {
    background-color: #D1003E;
    transition: 0.4s ease-in-out;
  }

  &_blue {
    padding: 10px 15px;
    background: $blue;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    border-radius: 6px;
  }

  &_blue:hover {
    background-color: $dark-blue;
    transition: 0.4s ease-in-out;
  }

  &_blue:disabled {
    background-color: #0d316e;
    cursor: default;
    color:#dadada;
  }

  &_delete {
    display: block;
    width: 38px;
    height: 38px;
    background: url(./../assets/icons/delete.svg) no-repeat center center;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
  }

  &_delete:hover {
    background: url(./../assets/icons/delete-white.svg) no-repeat center center;
    background-color: $red;
    border-color: $red;
    transition: 0.4s ease-in-out;
  }

  &_edit {
    display: block;
    width: 38px;
    height: 38px;
    background: url(./../assets/icons/edit.svg) no-repeat center center;
    border: 1px solid #c6c6c6;
    border-radius: 6px;
  }

  &_edit:hover {
    background: url(./../assets/icons/edit-white.svg) no-repeat center center;
    background-color: $blue;
    border-color: $blue;
    transition: 0.4s ease-in-out;
  }
}



// Header

.header {
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: $blue;
  }

  &__img {
    margin-right: 16px;
  }

  &__menu {
    position: fixed;
    left: -100%;
    top: 0;
    transform: translateX(-100%);
    width: 312px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    overflow: auto;
    z-index: 3;
    background-color: #fff;
    transition: 0.6s ease-in-out;
    box-shadow: 6px 0px 8px 0px rgba(34, 60, 80, 0.2);
    overflow-x: hidden;
  }
  
  &__menu_active {
    left: 0;
    transform: translateX(0);
    transition: 0.4s ease-in-out;
    z-index: 99;
  }
  
  &__buttons  {
    display: flex;
    gap: 0 20px;
  }
}


.blur.active {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: $blk;
  opacity: 0.3;
}

.menu {
  &__wrapper {
    height: 100%;
    width: 100%;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: $blk;
  }

  &__top::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -30px;
    right: -40px;
    border: 1px solid #e6e6e6;
  }
  
  &__button_top {
    height: 16px;
    width: 16px;
    background: url(./../assets/icons/close.svg) no-repeat center center;
    padding: 11px;
    border-radius: 6px;
    transition: 0.5s ease-in-out;
  }

  &__button_top:hover {
    height: 16px;
    width: 16px;
    background-color: #D9D9D9;
  }
  
  &__center {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 0;
    padding-top: 25px;
    margin-bottom: auto;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }
  
  &__input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 0 10px;
    color: $blk;
    background: #f2f2f2;
    border-radius: 6px;
    border: 0;
    color: $gray;
  }

  &__input_groupe {
    max-width: 214px;
  }

  &__select {
    display: block;
    position: relative;
    width: 100%;
    height: 38px;
    padding: 0 10px;
    background: #f2f2f2;
    background-image: url(../assets/icons/arrow.svg);
    background-repeat: no-repeat;
    background-position: 245px center;
    border-radius: 6px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    color: $gray;
  }

  &__item {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  &__bottom {
    margin-left: auto;
    padding-top: 24px;
  }

  &__btn_add {
    margin-right: 12px;
    padding: 10px 15px;
    color: $blue;
    background-color: transparent;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }

  &__btn_add:hover {
    background-color: $light;
    transition: 0.4s ease-in-out;
  }

  &__subtitle {
    display: block;
    margin: 4px 0 0 0;
    font-size: 11px;
    color: red;
  }


}


// Contacts list

.tabs {
  margin-top: 55px;
  &__wrapper {
    overflow: hidden;
  }
  &__message {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000000;
    opacity: 0.3;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
  }
}


.tab {
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  &:not(:first-child) {
    margin-top: 20px;
  }
  
  &__input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  &__label {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  &__label:hover {
    background-color: rgb(250, 250, 250);
  }
  
  &__label::after {
    content: "";
    background: url(./../assets/icons/arrow.svg) no-repeat center;
    width: 16px;
    color: #17696A;
    height: 16px;
    text-align: center;
    transition: 0.45s ease-in-out;
    transform: rotate(180deg);
  }
  
  &__label:hover::after {
    color: #4ba2a3;
  }
  
  &__header {
    width: 100%;
    margin-right: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
  }
  
  &__content {
    max-height: 0;
    padding: 0 24px;
    color: #2c3e50;
    background: #fff;
    transition: all 0.5s;
  }
  
  &__item {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    align-items: center;
    border-top: 1px solid #f6f6f6;
    padding: 15px 0;
  }
  
  &__input:checked+.tab__label {
    background: #fff;
    color: $blue;
  }
  
  &__input:checked+.tab__label::after {
    content: "";
    transform: rotate(0deg);
  }
  
  &__input:checked~.tab__content {
    max-height: 100vh;
    padding: 0 24px;
  }

}

.item {
  &__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
  opacity: 0.5;
  }

  &__phone {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #000000;
  margin-left: auto;
  }

  &__btns {
    display: flex;
    gap: 0 15px;
  }
}

@media (max-width : 767px) {
  .item {
      flex-direction: column;
      gap: 30px 0;
  }

  .item__phone {
      margin-left: 0px;
  }
  
}

@media (max-width : 650px) {

  .header__wrapper {
    flex-direction: column;
    gap: 30px;
  }
  
}
